<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <!-- Import Nav partial -->
    <%- include('./partials/nav.ejs') %> 

    <div class="index content">
        <h2>Message Node</h2>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>