* {
    background-color: #282836;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.app{
    width: 50vw;
    align-self: center;
}

.app > div > h2{
    color: #fc6;
}
.box > h3 {
    color:  rgba(102, 235, 255, 0.85);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box{
    border: 1px solid rgb(84, 120, 125);
    border-radius: 5px;
    padding: 10px;
}

input[type="text"], textarea {

    background-color : #3e3e4a; 
  
  }



footer{
    align-self: center;
}
